
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>checkCsvData</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div>
            <button type="submit" class="btn btn-dark btn-lg" data-toggle="modal">Submit</button>
        </div>
    }
</body>
</html>
