
@{
    //Layout = null;
    Layout = "~/Views/Shared/StageSideBar.cshtml";
}
<link href="~/css/sb-admin-2.min.css" rel="stylesheet">
<style>

    #wrapper #content-wrapper {
        /* background-color: #f8f9fc; */
        height: 100%;
        width: 100%;
        overflow-x: hidden;
    }
    .modal-content {
        background-color: #413f46 !important;
    }

    .btn-secondary {
        color: #fff;
        background-image: linear-gradient(20deg,#ac4edf 5%,#224abe 100%) !important;
        /* border-color: #858796;*/
    }

    .btn-secondary:hover {
        color: #fff;
        background-color: red;
        /* border-color: #858796;*/
    }

    .notice {
        padding: 20px;
        background-color: #fafafa;
        border-left: 6px solid #7f7f84;
        margin-bottom: 10px;
        margin-left: 10px;
        -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
        -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
        box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
    }

    .notice-sm {
        padding: 10px;
        font-size: 80%;
    }

    .notice-lg {
        padding: 35px;
        font-size: large;
    }

    .notice-success {
        border-color: #9151d6;
        background-color: #f8f0ff;
    }

    .notice-success:hover {
        border-color: #9151d6;
        background-color: #eadcf7;
        transition: .5s;
    }

    .notice-success > strong {
        color: #9151d6;
    }

    .notice-info {
        border-color: #45ABCD;
        background-color: #e6f2f6;
    }

    .notice-info:hover {
        border-color: #45ABCD;
        background-color: #dcf1f8;
        transition: .5s;
    }

    .notice-info > strong {
        color: #45ABCD;
    }

    .notice-default {
        border-color: #2bd64a;
        background-color: #effff2;
    }

    .notice-default:hover {
        border-color: #2bd64a;
        background-color: #d8f7de;
        transition: .5s;
    }

    .notice-default > strong {
        color: #2bd64a;
    }

    .notice-warning {
        border-color: #FEAF20;
        background-color: #fff8e8;
    }

    .notice-warning:hover {
        border-color: #FEAF20;
        background-color: #f7efdc;
        transition: .5s;
    }

    .notice-warning > strong {
        color: #FEAF20;
    }

    .notice-danger {
        border-color: #d73814;
        background-color: #fff5f2;
    }

    .notice-danger:hover {
        border-color: #d73814;
        background-color: #fdece7;
        transition: .5s;
    }

    .notice-danger > strong {
        color: #d73814;
    }
</style>
<!-- Rules Styles-->
<link rel="stylesheet" type="text/css" href="~/css/rules.css">
<!-- Start Rules-->
<br>
<!--  <h1 class="module__heading module__heading--b">RULES</h1> -->
<div class="container-fluid" style="">
    <div class="notice notice-success">
        <strong>1.</strong> In writing, the words point and purpose are almost synonymous. Your point is your purpose, and how you decide to make your point clear to your reader is also your purpose.
    </div>
    <div class="notice notice-danger">
        <strong>2.</strong> Writers write persuasive and argument paragraphs because their purpose is to persuade or convince someone. Their point is that their reader should see things a particular way and possibly take action on that new way of seeing things
    </div>
    <div class="notice notice-info">
        <strong>3.</strong> The purpose of Pattern Based Writing: Quick & Easy Essay is to quickly and easily teach students how to organize information and make points clear. Then in the Writing with Purpose section of the writing program, students learn to apply their new writing strategies to different types, kinds, genres, and modes of writing.
    </div>
    <div class="notice notice-warning">
        <strong>4.</strong> There are blue, pink, and purple swirls, spinning and twisting, like clouds of balloons caught in a whirlwind. The sun moves slowly to hide behind the line of horizon, while the moon races to take its place in prominence atop the night sky.
    </div>
    <div class="notice notice-default">
        <strong>5.</strong> Here is the perfect system for cleaning your room. First, move all of the items that do not have a proper place to the center of the room. Get rid of at least five things that you have not used within the last year. Take out all of the trash, and place all of the dirty dishes in the kitchen sink. Now find a location for each of the items you had placed in the center of the room.
    </div>
    <div class="notice notice-success">
        <strong>6.</strong> There are blue, pink, and purple swirls, spinning and twisting, like clouds of balloons caught in a whirlwind. The sun moves slowly to hide behind the line of horizon, while the moon races to take its place in prominence atop the night sky.
    </div>
    <div class="notice notice-danger">
        <strong>7.</strong> There are blue, pink, and purple swirls, spinning and twisting, like clouds of balloons caught in a whirlwind. The sun moves slowly to hide behind the line of horizon, while the moon races to take its place in prominence atop the night sky.
    </div>
    <div class="notice notice-info">
        <strong>8.</strong> The purpose of Pattern Based Writing: Quick & Easy Essay is to quickly and easily teach students how to organize information and make points clear. Then in the Writing with Purpose section of the writing program, students learn to apply their new writing strategies to different types, kinds, genres, and modes of writing.
    </div>
    <div class="notice notice-warning">
        <strong>9.</strong> The purpose of Pattern Based Writing: Quick & Easy Essay is to quickly and easily teach students how to organize information and make points clear. Then in the Writing with Purpose section of the writing program, students learn to apply their new writing strategies to different types, kinds, genres, and modes of writing.
    </div>
    <div class="notice notice-default">
        <strong>10.</strong> The purpose of Pattern Based Writing: Quick & Easy Essay is to quickly and easily teach students how to organize information and make points clear. Then in the Writing with Purpose section of the writing program, students learn to apply their new writing strategies to different types, kinds, genres, and modes of writing.
    </div>

</div>

<!-- End Rules-->