@model RocketSystem.Models.ExcelDataModel
@{
    Layout = "~/Views/Shared/AdminPanel.cshtml";
}

<style type="text/css">


    .files input {
        outline: 2px dashed #92b0b3;
        outline-offset: -10px;
        -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
        transition: outline-offset .15s ease-in-out, background-color .15s linear;
        padding: 120px 0px 85px 35%;
        text-align: center !important;
        margin: 0;
        width: 100% !important;
    }

        .files input:focus {
            outline: 2px dashed #92b0b3;
            outline-offset: -10px;
            -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
            transition: outline-offset .15s ease-in-out, background-color .15s linear;
            border: 1px solid #92b0b3;
        }

    .files {
        position: relative
    }

        .files:after {
            pointer-events: none;
            position: absolute;
            top: 60px;
            left: 0;
            width: 50px;
            right: 0;
            height: 56px;
            content: "";
            background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
            display: block;
            margin: 0 auto;
            background-size: 100%;
            background-repeat: no-repeat;
        }

    .color input {
        background-color: #f1f1f1;
    }

    .files:before {
        position: absolute;
        bottom: 10px;
        left: 0;
        pointer-events: none;
        width: 100%;
        right: 0;
        height: 57px;
        display: block;
        margin: 0 auto;
        color: #2ea591;
        font-weight: 600;
        text-transform: capitalize;
        text-align: center;
    }
</style>
@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <!-- CSV Data area Start-->
    <div class="breadcomb-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <div class="breadcomb-list">

                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="d-flex justify-content-center">
                                    <div class="form-group files">
                                        <label>Import CSV Data [Notepad Only]</label>
                                        @Html.TextBoxFor(x => x.MyExcelFile, new { type = "file" })
                                        @Html.ValidationMessageFor(x => x.MyExcelFile)

                                        <center><button class="btn btn-success btn-lg" type="submit">Upload</button></center>
                                    </div>
                                </div>
                                <br /><br />
                                @Html.Raw(Model.MSExcelTable)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <!-- End CSV Data area End-->
    <!-- Breadcomb area Start-->
    <div class="breadcomb-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="breadcomb-list">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="breadcomb-wp">
                                    <div class="breadcomb-icon">
                                        <i class="notika-icon notika-app"></i>
                                    </div>
                                    <div class="breadcomb-ctn">
                                        <h1>Generate CSV File</h1>
                                        <div>
                                            <button class="btn btn-danger btn-lg" type="button" onclick="exporting()">Generate Csv File</button>
                                            <button class="btn btn-danger" type="submit" hidden id="hidesubmit">Generate Csv File</button>
                                        </div>
                                    </div>
                                </div>
                                <span id="text" style="color:red;"></span>
                                <input type="hidden" id="userID" name="name" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<!-- Breadcomb area End-->
<script>
    function exporting() {
        document.getElementById("userID").value = "export";
        $("#hidesubmit").click();
    }
</script>
