@{
    Layout = null;
    Layout = "~/Views/Shared/AdminPanel.cshtml";

}
<link rel="stylesheet" href="~/css/admin/edituserpro.css">

<!-- Form area Start-->
<div class="data-table-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="data-table-list">
                    <div class="basic-tb-hd">
                        <h1>User Profile</h1>
                    </div>
                    <div id="wrapper">
                        <form>
                            <fieldset id="userInformation">
                                <br>
                                <div class="divInformation">
                                    <label class="label" for="userid">User ID:</label>
                                    <input type="text" id="userid" class="input" placeholder="User ID" autofocus="autofocus" />
                                </div>
                                <div class="divInformation">
                                    <label class="label" for="name">Name:</label>
                                    <input type="text" id="name" class="input" placeholder="Name" />
                                </div>
                                <div class="divInformation">
                                    <label class="label" for="kname">Name (Kathakana):</label>
                                    <input type="text" id="kname" class="input" placeholder="Name in Kathakana" />
                                </div>
                                <div class="divInformation">
                                    <label class="label" for="nname">Nick Name:</label>
                                    <input type="text" id="nname" class="input" placeholder="Nick Name" />
                                </div>
                                <div class="divInformation">
                                    <label class="label" for="membershipid">Membership ID:</label>
                                    <input type="text" id="membershipid" class="input" placeholder="Membership ID" />
                                </div>
                                <div class="divInformation">
                                    <label class="label" for="dob">Date of Birth:</label>
                                    <input type="text" id="dob" class="input" placeholder="Date of Birth" />
                                </div>
                                <div class="divInformation">
                                    <label class="label" for="telno">Telephone No:</label>
                                    <input type="text" id="telno" class="input" placeholder="Telephone No" />
                                </div>
                                <div class="divInformation">
                                    <label class="label" for="mobileno">Mobile No:</label>
                                    <input type="text" id="mobileno" class="input" placeholder="Mobile No" />
                                </div>
                                <div class="divInformation">
                                    <label class="label" for="gender">Gender:</label>
                                    <input type="text" id="gender" class="input" placeholder="Gender" />
                                </div>
                                <div class="divInformation">
                                    <label class="label" for="postalcode">Postal Code:</label>
                                    <input type="text" id="postalcode" class="input" placeholder="Postal Code" />
                                </div>
                                <div class="divInformation">
                                    <label class="label" for="address1">Address 1:</label>
                                    <input type="text" id="address1" class="input" placeholder="Address 1" />
                                </div>
                                <div class="divInformation">
                                    <label class="label" for="address2">Address 2:</label>
                                    <input type="text" id="address2" class="input" placeholder="Address 2" />
                                </div>
                                <div class="divInformation">
                                    <label class="label" for="address3">Address 3:</label>
                                    <input type="text" id="address3" class="input" placeholder="Address 3" />
                                </div>
                                <div class="divInformation">
                                    <label class="label" for="faxno">Fax No:</label>
                                    <input type="text" id="faxno" class="input" placeholder="Fax No" />
                                </div>
                                <div class="divInformation">
                                    <label class="label" for="wemail">Web Email:</label>
                                    <input type="text" id="wemail" class="input" placeholder="Web Email" />
                                </div>
                                <div class="divInformation">
                                    <label class="label" for="memail">Mobile Email:</label>
                                    <input type="text" id="memail" class="input" placeholder="Mobile Email" />
                                </div>
                                <div class="divInformation">
                                    <label class="label" for="accountname">Account Name:</label>
                                    <input type="text" id="accountname" class="input" placeholder="Account Name" />
                                </div>
                                <div class="divInformation">
                                    <label class="label" for="kaccountname">Account Name (Kathakana):</label>
                                    <input type="text" id="kaccountname" class="input" placeholder="Account Name in Kathakana" />
                                </div>
                                <div class="divInformation">
                                    <label class="label" for="accountclassification">Account Classification:</label>
                                    <input type="text" id="accountclassification" class="input" placeholder="Account Classification" />
                                </div>
                                <div class="divInformation">
                                    <label class="label" for="kbankname">Bank Name (Kathakana):</label>
                                    <input type="text" id="kbankname" class="input" placeholder="Bank Name in Kathakana" />
                                </div>
                                <div class="divInformation">
                                    <label class="label" for="kbranchname">Branch Name (Kathakana):</label>
                                    <input type="text" id="kbranchname" class="input" placeholder="Branch Name in Kathakana" />
                                </div>
                                <div class="divInformation">
                                    <label class="label" for="taccountnumber">Transfer Account Number:</label>
                                    <input type="text" id="taccountnumber" class="input" placeholder="Transfer Account Number" />
                                </div>
                                <div class="divInformation">
                                    <label class="label" for="tdestinationbank">Transfer Destination Bank:</label>
                                    <input type="text" id="tdestinationbank" class="input" placeholder="Transfer Destination Bank" />
                                </div>
                                <div class="divInformation">
                                    <label class="label" for="tdestinationbranch">Transfer Destination Branch:</label>
                                    <input type="text" id="tdestinationbranch" class="input" placeholder="Transfer Destination Branch" />
                                </div>
                                <div class="divInformation">
                                    <label class="label" for="username">User Name:</label>
                                    <input type="text" id="username" class="input" placeholder="User Name" />
                                </div>
                                <div class="divInformation">
                                    <label class="label" for="password">Password:</label>
                                    <input type="password" id="password" class="input" placeholder="Password" />
                                </div>
                            </fieldset>

                            <fieldset id="submit">
                                <button id="submitBtn">Submit</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Form area End-->
