@{
    Layout = "~/Views/Shared/AdminPanel.cshtml";
}

<div class="data-table-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="data-table-list">
                    <div class="basic-tb-hd">
                        <h1>Reject user</h1>
                    </div>
                    <div class="table-responsive">
                        <table id="myTable" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Membership ID</th>
                                    <th>Name</th>
                                    <th>Nick Name</th>
                                    <th>Account Name</th>
                                    <th>User Name</th>
                                    <th></th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>000001</td>
                                    <td>Anusha</td>
                                    <td>Anu</td>
                                    <td>100-000-102</td>
                                    <td>India</td>
                                    <td align="center"><button type="button" class="btn btn-success btn-sm">Add</button></td>

                                </tr>
                                <tr>
                                    <td>000002</td>
                                    <td>Charles</td>
                                    <td>Charles</td>
                                    <td>280-005-678</td>
                                    <td>United Kingdom</td>
                                    <td align="center"><button type="button" class="btn btn-success btn-sm">Add</button></td>
                                </tr>
                                <tr>
                                    <td>000003</td>
                                    <td>Sravani</td>
                                    <td>Sravani</td>
                                    <td>700-010-890</td>
                                    <td>Australia</td>
                                    <td align="center"><button type="button" class="btn btn-success btn-sm">Add</button></td>
                                </tr>
                                <tr>
                                    <td>000004</td>
                                    <td>Amar</td>
                                    <td>Amar</td>
                                    <td>180-030-778</td>
                                    <td>India</td>
                                    <td align="center"><button type="button" class="btn btn-success btn-sm">Add</button></td>
                                </tr>
                                <tr>
                                    <td>000005</td>
                                    <td>Lakshmi</td>
                                    <td>Laki</td>
                                    <td>120-030-456</td>
                                    <td>India</td>
                                    <td align="center"><button type="button" class="btn btn-success btn-sm">Add</button></td>
                                </tr>
                                <tr>
                                    <td>000006</td>
                                    <td>James</td>
                                    <td>Jam</td>
                                    <td>500-060-089</td>
                                    <td>Canada</td>
                                    <td align="center"><button type="button" class="btn btn-success btn-sm">Add</button></td>
                                </tr>
                                <tr>
                                    <td>000007</td>
                                    <td>Ronald</td>
                                    <td>Ron</td>
                                    <td>750-100-536</td>
                                    <td>Canada</td>
                                    <td align="center"><button type="button" class="btn btn-success btn-sm">Add</button></td>
                                </tr>
                                <tr>
                                    <td>000008</td>
                                    <td>Mike</td>
                                    <td>Mike</td>
                                    <td>100-030-990</td>
                                    <td>Belgium</td>
                                    <td align="center"><button type="button" class="btn btn-success btn-sm">Add</button></td>
                                </tr>
                                <tr>
                                    <td>000009</td>
                                    <td>Andrew</td>
                                    <td>Andrew</td>
                                    <td>450-400-647</td>
                                    <td>Argentina</td>
                                    <td align="center"><button type="button" class="btn btn-success btn-sm">Add</button></td>
                                </tr>
                                <tr>
                                    <td>000010</td>
                                    <td>Stephen</td>
                                    <td>Stephen</td>
                                    <td>300-050-124</td>
                                    <td>Austria</td>
                                    <td align="center"><button type="button" class="btn btn-success btn-sm">Add</button></td>
                                </tr>
                                <tr>
                                    <td>000011</td>
                                    <td>Sara</td>
                                    <td>Sara</td>
                                    <td>750-000-583</td>
                                    <td>China</td>
                                    <td align="center"><button type="button" class="btn btn-success btn-sm">Add</button></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Data Table area End-->
<br><br>
<br><br>