@model IEnumerable<RocketSystem.Models.StageOne>
@{
    /**/

    Layout = "~/Views/Shared/AdminPanelTree.cshtml";
}



@ViewBag.ab
@{
    List<RocketSystem.Models.StageOne> treelist = new List<RocketSystem.Models.StageOne>();
    treelist = Model.ToList();
    int lvlcount = treelist.GroupBy(d => d.treeId).Count();
    int treeidd = treelist[0].treeId;
    int bcnumber = Convert.ToInt32(ViewData["Message"]);
    //int BC = Convert.ToInt32(Session["bcnum"]);
}
@using (Html.BeginForm())
{
    //****************************************BC NUMBER DROPDOWN CLICK *********************************/

    <div class="col-md-2">
        <br />

        <div class="container-fluid">
            <div class="row" style="float: right;">
                <form class="form-inline">
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="inputPassword2" class="sr-only">Member ID</label>
                        <input type="text" class="form-control" id="memberid" placeholder="Member ID">
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="inputPassword2" class="sr-only">BC No</label>
                        <input type="text" class="form-control" id="bcno" placeholder="BC No">
                    </div>
                    <button type="submit" class="btn btn-success notika-btn-success waves-effect">Search</button>
                </form>
            </div>

        </div>

    </div>

    <div class="form-group">

    </div>
    <button name="button" type="submit" id="bcbtnsubmit" hidden></button>


    <div class="container-fluid">

        <div class="tree">
            <ul class="ulset" id="ul0">
                <li id="idl0cl1" class="liset">
                    <a href="#" id="aidl0cl1" data-toggle="modal" data-target="#modal" onclick="mycall(@treeidd)">FOURSSH</a>
                </li>
            </ul>
        </div>
    </div>


}

@**********************************************pop up open*************************@
<div class="container">
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog cascading-modal" role="document">
            <!--Content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <h3 class="modal-title" id="modal-register-label">Customer details</h3>
                </div>
                <div class="modal-body">
                    <ul class="ul-list">
                        <div class="md-form form-sm mb-5">
                            <li>
                                <label for="level" data-error="wrong" data-success="right">Name/名前</label>
                                <input type="text" id="name" name="Name" class="form-control validate" disabled>
                            </li>
                        </div>
                        <div class="md-form mb-5">
                            <li>
                                <label for="dbo" data-error="wrong" data-success="right">DOB/生年月日</label>
                                <input type="text" id="dbo" name="DBO" class="form-control validate" disabled>
                            </li>
                        </div>
                        <div class="md-form mb-4">
                            <li>
                                <label for="postal code" data-error="wrong" data-success="right" placeholder="NNN-NNNN" required>Postal Code/郵便番号</label>
                                <input type="text" id="post" name="PostalCode" class="form-control validate" disabled>
                            </li>
                        </div>
                        <div class="md-form mb-4">
                            <li>
                                <label for="Telephone" data-error="wrong" data-success="right">Telephone/電話</label>
                                <input type="text" id="telephone" name="Telephone" class="form-control validate" disabled>
                            </li>
                        </div>
                        <div class="md-form mb-4">
                            <li>
                                <label for="DepositD" data-error="wrong" data-success="right">Deposit Date/入金日</label>
                                <input type="text" id="depositdate" name="DepositDate" class="form-control validate" disabled>
                            </li>
                        </div>
                        <div class="md-form mb-4">
                            <li>
                                <label for="promoCode" data-error="wrong" data-success="right">Promo Code/プロモーションコード</label>
                                <input type="text" id="promocode" name="DepositDate" class="form-control validate" disabled>
                            </li>
                        </div>
                    </ul>
                    <div class="modal-footer">
                        <div class="options text-right">
                        </div>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">close</button>
                    </div>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
@****************************tree view javascript*****************************@
<script type="text/javascript">


            $.getJSON("/Kalamanakaru/Index2/1", {},
                function (data) {
                    for (var x = 1; x <= data.length - 1; x++)
                    {

                        if ((data[x].xx % 2) == 1)
                        {
                            var node = document.createElement("UL");
                            node.setAttribute("class", "ulset");
                            node.setAttribute("id", "ul" + (data[x].yy));
                        }

                        var node2 = document.createElement("LI");
                        node2.setAttribute("id", "idl" + (data[x].yy) + "cl" + data[x].xx);
                        node2.setAttribute("class", "li");
                        var node3 = document.createElement("A");
                        node3.setAttribute("data-toggle", "modal");
                        node3.setAttribute("data-target", "#modal");
                        node3.setAttribute("onclick", "mycall(" + data[x].tid + ")");
                        node3.setAttribute("id", "aidl" + (x) + "cl" + data[x].xx);
                        if (data[x].jp == 3)
                        {

                            node3.setAttribute("class", "jumpingcss");
                        }
                        if (data[x].jp == 2)
                        {

                            node3.setAttribute("class", "jumping2css");
                        }
                        if (data[x].jp == 4)
                        {

                            node3.setAttribute("class", "jumping4css");
                        }
                        if (data[x].jp == 5)
                        {

                            node3.setAttribute("class", "jumping5css");
                        }
                        if (data[x].ft == 3)
                        {
                            node3.setAttribute("class", "stage3free");
                        }
                        var textnode = document.createTextNode(data[x].yy + "-" + data[x].xx + " | " + data[x].jp);
                        node3.appendChild(textnode);
                        node2.appendChild(node3);
                        node.appendChild(node2);
                        document.getElementById("idl" + (data[x].yy - 1) + "cl" + (Math.round(data[x].xx / 2))).appendChild(node);
                    }
                }
            );
    
</script>

<script type="text/javascript">
    function submitform(thiss)
    {
        var bcnum = thiss.value;
        document.getElementById("bcbtnsubmit").value = bcnum;
        $('form').submit();
    }
</script>

@****************************popup view javascript*****************************@
<script type="text/javascript">
    function mycall(treeid)
    {
        $(document).ready(function () {
            var val1 = treeid;
            var val2 = 1;
            //var serviceURL = '/AllStages/popupAjax/';
            $.ajax({
                type: "POST",
                url: "/Trees/popupAjax",
                data: JSON.stringify({ 'treeid': val1, 'stage': val2 }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: successFunc,
                error: errorFunc
            });
            function successFunc(data, status) {

                document.getElementById("name").value = data[0].name;
                document.getElementById("dbo").value = data[0].positionCode;
                document.getElementById("post").value = data[0].membershipNo;
                document.getElementById("telephone").value = data[0].mobileNo;
                document.getElementById("depositdate").value = data[0].membershipNo;
                document.getElementById("promocode").value = data[0].positionCode;
            }
            function errorFunc() {
                alert('error');
            }
        });
    }
</script>

<script type="text/javascript">

</script>
