
@{
    Layout = null;
    Layout = "~/Views/Shared/AdminPanel.cshtml";
}
<div class="container">
    <center><h1>Top Members With Highest Received Bonus</h1></center>
    <br />
    <div class="recent-items-inn">
        <table class="table table-striped">
            <thead style="background-color:#edecea;">
                <tr>
                    <th scope="col">Member ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Bonus/()</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>

                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>

                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>

                </tr>
            </tbody>
        </table>
    </div>
</div>
